
@{
    Layout = null;
  
    ViewBag.Title = "登出";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div>
        
        <h2>登出成功</h2>
        <p>您已經成功登出。</p>
        <p>感謝您使用我們的服務！</p>
    </div>
</body>
</html>
