@model IbreastCare.ViewModel.MydataViewModel

@{
    ViewBag.Title = "MydataCreate";
}

<h2>MydataCreate</h2>



    <div class="form-horizontal">
        <h4>MydataViewModel</h4>
        <hr />
        <div class="col-md-9 col-sm-7" id="app">
            <h1>新增產品</h1>
            <div class="content-form-page">
                <div class="form-horizontal form-without-legend">
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="canOpDate">手術日期</label>
                        <div class="col-lg-8">
                            <input v-model="Personal_Datas.OperationDate" class="form-control" id="canOpDate" type="date" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="txtHeight">我的身高</label>
                        <div class="col-lg-8">
                            <input v-model="Personal_Datas.Height" class="form-control" id="txtHeight" type="number" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">是否停經</label>
                        <div class="col-lg-8">
                            <input v-model="Personal_Datas.Menopause" class="form-control" id="txtMenopause" type="checkbox" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">細胞類型</label>
                        <div class="col-lg-8">
                            <input v-model="Personal_Datas.CellType" class="form-control" id="txtCellType" type="checkbox" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">ER</label>
                        <div class="col-lg-8">
                            <input v-model="Personal_Datas.ER" class="form-control" id="txtER" type="checkbox" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">PR</label>
                        <div class="col-lg-8">
                            <input v-model="Personal_Datas.PR" class="form-control" id="txtPR" type="checkbox" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">HER-2/neu基因表現</label>
                        <div class="col-lg-8">
                            <input v-model="Personal_Datas.Her" class="form-control" id="txtHer" type="checkbox" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">手術型式</label>
                        <div class="col-lg-8">
                            <input v-model="Personal_Datas.OperationType" class="form-control" id="txtOperationType" type="checkbox" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">療程計畫</label>
                        <div class="col-lg-8">
                            <input v-model="Personal_Datas.TreatPlan" class="form-control" id="txtTreatPlan" type="checkbox" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">其他備註</label>
                        <div class="col-lg-8">
                            <input v-model="Personal_Datas.Note" class="form-control" id="txtNote" type="checkbox" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">是否停經</label>
                        <div class="col-lg-8">
                            <input v-model="Personal_Datas.InputDate" class="form-control" id="canInputDate" type="date" value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-md-offset-2 padding-left-0 padding-top-20">
                            <button v-on:click="addData()" id="myBtn" class="btn btn-primary" type="submit">新增</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts{

    <script src="https://unpkg.com/vue@3.0.4/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    PersonalData: {
                        OperationDate: "",
                        Height: "",
                        Menopause: "",
                        CellType: "",
                        ER: "",
                        PR: "",
                        Her: "",
                        OperationType: "",
                        TreatPlan: "",
                        Note: "",







                    }
                };
            },
            methods: {
                addData: function () {
                    $.ajax({
                        type: 'POST',
                        url: '/api/MydataAPI',
                        data: JSON.stringify(this.member),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            alert("OK");
                        }
                    });
                },
            },
        }).mount("#app");
    </script>
    }
