@model IbreastCare.ViewModel.PatientViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index_Patient</title>
</head>
<body>
    <div>
        <input type="text" name="name"  id="myId" value="@ViewBag.userid" />
    </div>
    <script>
        
    </script>
</body>

</html>
