@model IbreastCare.ViewModel.PatientViewModel

@{
    ViewBag.Title = "Index";
}

@section Styles{
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/templatemo.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    @*<link rel="stylesheet" href="/assets/css/fontawesome.min.css">*@

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assets/css/news/style.css" rel="stylesheet">
    <link href="~/assets/css/fontawesome.css" rel="stylesheet" />
    <style>
        .breadcrumbs h2 {
            font-size: 32px;
            font-weight: 500;
            color:white;
        }
        
    </style>
}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>開啟e粉紅護照</h2>
        <p>記錄妳的抗癌歷程，讓團隊提供妳最佳幫助</p>
    </div>
</div>

<div>
    <!-- Featured News Slider Start -->
    <div class="container-fluid pt-5 mb-3">
        <div class="container">
            <div class="section-title">
                <h4 class="m-0 text-uppercase font-weight-bold">活動訊息</h4>
            </div>
            <div class="owl-carousel news-carousel carousel-item-4 position-relative">
                <div class="position-relative overflow-hidden" style="height: 242px;">
                    <img class="img-fluid h-120" src="~/upload/activity/203-0-1.jpg" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="href="/official/activity_ct?id=203"">了解活動</a>
                            <a class="text-white" href="/official/activity_ct?id=203"><small>2023/07/04 ~ 2023/09/04</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="/official/activity_ct?id=203">【講座】09/04乳癌「新病友」座談會（小班制）</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 242px;">
                    <img class="img-fluid h-120" src="~/upload/activity/202-0-1.jpg" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="">了解活動</a>
                            <a class="text-white" href=""><small>2023/07/04 ~ 2023/09/28</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">【健康講座】如何快樂迎接癌後人生_張金堅教授</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 242px;">
                    <img class="img-fluid h-120" src="~/upload/activity/201-0-1.jpg" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="">了解活動</a>
                            <a class="text-white" href=""><small>2023/07/04 ~ 2023/09/19</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">【健康講座】HER2弱陽性治療新趨勢_黃柏翔醫師</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 242px;">
                    <img class="img-fluid h-120" src="~/upload/activity/200-0-1.jpg" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="">了解活動</a>
                            <a class="text-white" href=""><small>2023/07/04 ~ 2023/09/14</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">【健康講座】乳癌治療及康復期的運動撇步_簡文仁老師</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 242px;">
                    <img class="img-fluid h-120" src="~/upload/activity/198-0-1.jpg" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="">了解活動</a>
                            <a class="text-white" href=""><small>2023/05/09 ~ 2023/08/31</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">【補助】2023乳房植入物重建醫療補助辦法</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured News Slider End -->
</div>
@section Scripts{
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/lib/easing/easing.min.js"></script>
    <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/assets/js/news/main.js"></script>
}


